beautifulsoup4
requests
pandas
streamlit
streamlit-autorefresh
streamlit
opencv-python
numpy
pillow
opencv-python-headless
matplotlib
streamlit
opencv-python
numpy
pillow
matplotlib
streamlit-extras
opencv-python-headless
opencv-python
